@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    background-color: white;
}
.main
{
    height: 100px;
}
nav
{
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}
nav img
{
    width: 167px;
    height: 97px;
    margin-left: 60px;
    
}
.sign-button
{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 19px;
    font-weight: 600;
    margin: 0px 60px;
}
.separation {
    height: 0.07px;
    background-color: rgba(95, 92, 92, 0.458);
    position: relative;
    z-index: 20;
}
.steplogo
{
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png) no-repeat 50% 50%;
    background-size: 260px;
    height: 90px;
    margin-top: 110px;
}
.text1
{
    font-size: 13px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.text2
{
    font-size: 32px;
    font-weight: 550;
}
.text3
{
    font-size: 32px;
    margin-top: 0;
    font-weight: 550;
}
.text4
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 100;
    font-size: 19px;
}
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red
{
    font-family: 'Poppins', sans-serif;
    height: 60px;
    width: 320px;
    color: white;
    font-weight: 100;
    font-size: 25px;
    background-color: rgb(223, 4, 4);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}